%header
%div.contents
  .left-content
    .header
      %h1 Taishiro
    .sub-content
      %h2 sample
      %p this is sample
  .right-content
    .header
      %h1 sample
      %ul
        %li<
          member
        %li<
          taishiro

    .main-content
    
    .footer

