.chat
  .chat-side
    .chat-user.clearfix
      %h5 Taishiro
      .chat-user__actions
        %a.chat-user__action
          %i.fa.fa-pencil-square-o
        %a.chat-user__action
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link
          %p.chat-group__name Taimusic
          %p.chat-group__message 面白い
